.separator {
    background: #17191C url(../../reviewsimg/separatorimg.png) right 24% bottom no-repeat;
    min-height: 360px;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.separator__content {
    max-width: 42%;
}

.separator__title {
    font-size: 48px;
    line-height: 65px;
    font-weight: bold;
    color: #FFFFFF;
}