.footer {
    margin-top: auto;
    position: relative;
}

.footer__container {
    border-top: 1px solid #FFFFFF;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 47px 0;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align--right {
    justify-content: flex-end;
}

.footer__menu {
    margin-bottom: 4px;
}

.footer__col .logo {
    margin-right: 132px;
}

.socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 73px;
    margin-bottom: 4px;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
    position: relative;
}

.socials__link:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url(../../img/socials_sprites.png);
}

.socials__link:before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 36px;
    height: 36px;
    transform: translate(-50%, -50%);
    background: url(../../img/socials_sprites.png);
    opacity: 0;
    transition: opacity .3s;
}

.socials__item--icon--telegram .socials__link:after {
    background-position: -122px -66px;
}

.socials__item--icon--telegram .socials__link:before {
    background-position: -122px -10px;
}

.socials__item--icon--telegram .socials__link:hover:before {
    opacity: 1;
}

.socials__item--icon--telegram .socials__link:hover:after {
    opacity: 0;
}

.socials__item--icon--vk .socials__link:after {
    background-position: -10px -122px;
}

.socials__item--icon--vk .socials__link:before {
    background-position: -66px -122px;
}

.socials__item--icon--vk .socials__link:hover:before {
    opacity: 1;
}

.socials__item--icon--vk .socials__link:hover:after {
    opacity: 0;
}

.socials__item--icon--facebook .socials__link:after {
    background-position: -10px -10px;
}

.socials__item--icon--facebook .socials__link:before {
    background-position: -66px -10px;
}

.socials__item--icon--facebook .socials__link:hover:before {
    opacity: 1;
}

.socials__item--icon--facebook .socials__link:hover:after {
    opacity: 0;
}

.socials__item--icon--inst .socials__link:after {
    background-position: -10px -66px;
}

.socials__item--icon--inst .socials__link:before {
    background-position: -66px -66px;
}

.socials__item--icon--inst .socials__link:hover:before {
    opacity: 1;
}

.socials__item--icon--inst .socials__link:hover:after {
    opacity: 0;
}

.contacts__info {
    font-size: 11px;
    line-height: 14px;
    color: #9A9A9A;
    margin-bottom: 3px;
}
