.header {
    margin-bottom: 138px;
}

.header__container {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    justify-content: flex-end;
}

.logo {
    display: block;
    margin-right: 264px;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    margin-right: 66px;
}

.menu__item:last-child {
    margin-right: 0
}

.menu__ref {
    font-size: 16px;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    line-height: 30px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    line-height: 10px;
}

.contacts__workhours {
    position: relative;
}

.dropdown__menu::before {
    position: absolute;
    content: "";
    top: -8px;
    left: 86px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10.5px 10px 10.5px;
    border-color: transparent transparent #ededed transparent;
}

.dropdown__menu:after {
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 30px;
    display: block;
}

.contacts__workhours:hover .dropdown__menu {
    opacity: 1; 
    right: 0; 
    left: initial;
}

.dropdown__menu {
    position: absolute;
    background: #EDEDED;
    border: 1px solid black;
    padding: 15px 15px;
    width: 160px;
    top: 100%;
    left: -9999px;
    opacity: 0;
    transition: opacity .3s;
    border-radius: 9px;
    margin-top: 10px;
}

.dropdown__item {
    color: #1E1F20;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 21px;
}

.dropdown__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
